<launch>
	<rosparam command="load" file="$(find package2)/config/params.yaml" ns="package2"/>
	
	
	
        <node pkg="package2" type="turtle_speed_publisher.py" name="turtle_speed_publisher" output="screen" ns="package2"/>
        
        <node pkg="package2" type="turtle_control_node" name="turtle_control_node" output="screen" ns="package2"/>
        
        
        
	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" ns="package2"/>










</launch>
